@import "tailwindcss";

@theme {
  /* Water flowing left */
  --animate-flow: flow 2s linear infinite;
  
  /* Boat bobbing up and down */
  --animate-float: float 3s ease-in-out infinite;

  @keyframes flow {
    0% { background-position: 0 0; }
    100% { background-position: -50px 0; }
  }

  @keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); } /* Moves up 10px */
  }
}